
/* Add this to your stylesheet or in-line styles */

.user-page-container {
  margin: 0 auto;
  padding: 20px;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  left:90%;
}
.avatar-container img{
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  object-fit: cover;
}

.profile-options {
  position: absolute;
  top: 160px; /* Adjust as needed */
  right: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
}
.profile-options ul{
  list-style: none;
}


.futsal-list-container {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.futsal-list-container h2 {
  color: #007bff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #007bff;
}
/* Media query for responsiveness */
@media screen and (max-width: 600px) {
  .user-page-container {
    padding: 10px;
  }

  .avatar-container {
    margin-right: 5px;
  }

  .profile-options {
    top: 50px;
    right: 10px;
    padding: 5px;
  }
}
